@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin actionButton($bg-color: #5c1e8a) {
  background-color: $bg-color;
  color: $white;
  padding: 5px 20px;
  border-radius: 999px;
  outline: none;
  border: none;
  cursor: pointer;
}

@mixin breakpoint($bp: 0) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin TextPreset1 {
  font-size: 48px;
  line-height: 120%;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

@mixin TextPreset2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  font-family: "League Spartan", sans-serif;
}

@mixin TextPreset3 {
  font-size: 30px;
  line-height: 120%;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}
@mixin TextPreset4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  font-family: "League Spartan", sans-serif;
}
