// typography
// $font-bold: 'RedHatText-Bold';
// $font-semibold: 'RedHatText-SemiBold';
// $font-regular: 'RedHatText-Regular';

//colors
$deep-purple: #5c1e8a;
// $deep-purple: black;
$white: #fafafa;
$lavender: #e8e2f4;
$red: rgb(230, 104, 104);
