@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/fonts" as *;

nav {
  width: 100%;
  min-height: 81px;
  padding: 10px 20px;
  @include flex(row, space-between, center);

  @include breakpoint(1000px) {
    width: 100%;
  }

  h1 {
    @include TextPreset2;
  }

  .control {
    @include flex(row, flex-start, center, 10px);

    input {
      outline: none;
      background-color: transparent;
      padding: 10px 20px;
      min-height: 44px;
      border: 1px solid rgb(95, 94, 94);
      border-radius: 8px;
    }
  }
}
