@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.note-card {
  width: 242px;
  min-height: 91px;
  @include flex(column, flex-start, stretch, 5px);
  padding: 5px;
  overflow: hidden;

  // h1 {
  //   @include TextPreset2;
  //   font-weight: 500;
  // }

  .tags-conatiner {
    width: 100%;
    @include flex(row, flex-start, center, 10px);

    .tag {
      background-color: #e0e4ea;
      padding: 3px;
    }
  }

  .note-detail {
    overflow: hidden;
    height: 50px;
    padding: 5px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
