<div class="overlay">
    <div class="modal-container">
        <div>
            <div></div>
            <div>
                <strong>Delete Note</strong>
                <p>Are you sure you want to permanently delete this note? This action cannot be undone.</p>
            </div>
        </div>


        <div class="access-action">
            <button class="delete" (click)="onDeletePost()">Delete</button>
            <button class="cancel" (click)="onCancelDelete()">Cancel</button>
        </div>

    </div>
</div>