<div class="sidebar-container">
    <div class="logo-wrapper">
        <img src="assets/images/logo.svg" alt="logo" />
    </div>

    <div class="navigations">
        <div class="nav-link">
            <div class="link-name">
                <img src="assets/images/icon-home.svg" />
                <span>All Notes</span>
            </div>

            <!-- <img src="assets/images/icon-arrow-right.svg" /> -->
        </div>

        <div class="nav-link">
            <div class="link-name">
                <img src="assets/images/icon-archive.svg" />
                <span>Archived Notes</span>
            </div>
        </div>

    </div>

    <div class="tags-container">
        <strong>Tags</strong>

        <button>
            <img src="assets/images/icon-tag.svg" />
            <span>Cooking</span>
        </button>

        <button>
            <img src="assets/images/icon-tag.svg" />
            <span>Dev</span>
        </button>

        <button>
            <img src="assets/images/icon-tag.svg" />
            <span>Fitness</span>
        </button>

        <button>
            <img src="assets/images/icon-tag.svg" />
            <span>Health</span>
        </button>

        <button>
            <img src="assets/images/icon-tag.svg" />
            <span>Personal</span>
        </button>

        <button>
            <img src="assets/images/icon-tag.svg" />
            <span>React</span>
        </button>

        <button>
            <img src="assets/images/icon-tag.svg" />
            <span>Recipes</span>
        </button>

        <button>
            <img src="assets/images/icon-tag.svg" />
            <span>Shopping</span>
        </button>

        <button>
            <img src="assets/images/icon-tag.svg" />
            <span>Travel</span>
        </button>
    </div>
</div>