<!-- <div class="dashboard-container">
    @if(notes.length === 0){
    <div class="empty-container">
        <img src="assets/Blank canvas-rafiki.svg" />
        <h2>No notes available</h2>
        <button (click)="onCreateNewNote()">Click to create note</button>
    </div>
    }
    @else {

    @for(note of notes; track note.id){

    <a routerLink="['/notes', note.id]">

        <app-note-card [Note]="note" />
    </a>
    }
    }
</div> -->
<div class="dashboard">
    <button><img src="assets/images/icon-plus.svg" />Create New Note</button>

    @for(note of notes; track note.id){

    <app-note-card [Note]="note" />

    }

</div>