@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.empty-list {
  width: 242px;
  min-height: 91px;
  @include flex(column, flex-start, stretch, 5px);
  padding: 5px;
  background-color: #e0e4ea;
}
.dashboard {
  width: 290px;
  height: 100vh;
  padding: 20px;
  @include flex(column, flex-start, stretch, 5px);

  button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #335cff;
    outline: none;
    border: none;
    border-radius: 10px;
  }
}
