<form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div class="form-control-container">
        <div class="form-field">
            <input id="title" placeholder="Enter a title..." name="title" formControlName="title" />
        </div>

        <div class="error" *ngIf="form.get('title')?.touched && form.get('title')?.invalid">
            <small *ngIf="form.get('title')?.errors?.['required']">Title is required.</small>
            <small *ngIf="form.get('title')?.errors?.['maxlength']">Title must be under 100 characters.</small>
        </div>
    </div>

    <div class="form-control-container">
        <div class="form-field">
            <label for="tags"><img src="assets/images/icon-tag.svg" />
                <span>Tags</span></label>
            <input id="tags" placeholder="Add tags separated by commas (eg. Work, Planning)" name="tags"
                formControlName="tags" />
        </div>

        <div class="error" *ngIf="form.get('tags')?.touched && form.get('tags')?.invalid">
            <small *ngIf="form.get('tags')?.errors?.['required']">Tags are required.</small>
            <small *ngIf="form.get('tags')?.errors?.['pattern']">Tags must be comma-separated words.</small>
        </div>
    </div>

    <div class="form-control-container">
        <div class="form-field">

            <label for="date"><img src="assets/images/icon-clock.svg" />
                <span>Last Edited</span></label>
            <input id="date" name="tags" formControlName="tags" placeholder="Not yet saved" readonly />
        </div>
    </div>

    <div class="line"></div>

    <div class="form-control-container-textarea">
        <textarea id="body" placeholder="Start typing your note here..." name="body" formControlName="body"></textarea>

        <div class="error" *ngIf="form.get('body')?.touched && form.get('body')?.invalid">
            <small *ngIf="form.get('body')?.errors?.['required']">Note content is required.</small>
            <small *ngIf="form.get('body')?.errors?.['maxlength']">Content must be under 1000 characters.</small>
        </div>
    </div>


    <div class="action-section">
        <button class="submit-btn" type="submit" [disabled]="form.invalid">Save Note</button>
        <button class="cancel" (click)="onCancel()">Cancel</button>


    </div>

</form>