@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.form-wrapper {
  display: flex;
  min-height: 300px;
  //   box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 800px;

  form {
    width: 100%;
    @include flex(column, center, center, 20px);

    .form-control-container {
      @include flex(column, flex-start, center, 10px);
      width: 100%;

      .error {
        width: 100%;

        small {
          width: 100%;
          text-align: left;
          color: $red;
          font-size: 16px;
        }
      }

      label {
        width: 100%;
        @include TextPreset3;
        color: $deep-purple;
      }

      input {
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.5);
        outline: none;
        background-color: transparent;
        height: 50px;
        border-radius: 8px;
        padding: 10px 20px;
      }
      input:focus {
        background-color: rgba($lavender, 0.4);
        border: 2px solid $deep-purple;
      }

      textarea {
        background-color: transparent;
        min-height: 300px;
        border-radius: 8px;
        padding: 10px 20px;
        outline: none;
        width: 100%;
      }
      textarea:focus {
        background-color: rgba($lavender, 0.5);
        border: 2px solid $deep-purple;
      }
      input.ng-invalid.ng-touched,
      textarea.ng-invalid.ng-touched {
        border: 1px solid red;
      }

      .char {
        width: 100%;
        text-align: right;
        color: $deep-purple;
      }
    }
    .action-section {
      width: 100%;
      @include flex(row, space-between, center);

      .cancel {
        @include actionButton(rgb(137, 214, 137));
      }
      .submit-btn {
        @include actionButton();
      }
      button {
        border-radius: 8px !important;
      }
    }
  }
}
