@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

form {
  width: 480px;
  @include flex(column, center, center, 15px);

  .line {
    height: 1px;
    background-color: rgb(109, 108, 108);
  }

  .form-field {
    width: 100%;
    @include flex(row, flex-start, stretch, 10px);
  }
  .form-control-container-textarea {
    @include flex(column, flex-start, stretch, 10px);
    width: 100%;

    textarea {
      background-color: transparent;
      min-height: 250px;
      border-radius: 8px;
      padding: 10px 20px;
      border: none;
      outline: none;
      width: 100%;
    }
    .error {
      width: 100%;

      small {
        width: 100%;
        text-align: left;
        color: $red;
        font-size: 16px;
      }
    }

    // input.ng-invalid.ng-touched,
    // textarea.ng-invalid.ng-touched {
    //   border: 1px solid red;
    // }
  }

  .form-control-container {
    @include flex(column, flex-start, stretch, 10px);
    width: 100%;

    .error {
      width: 100%;

      small {
        width: 100%;
        text-align: left;
        color: $red;
        font-size: 16px;
      }
    }

    label {
      @include flex(row, flex-start, center, 5px);
      width: 25%;
    }

    input {
      width: 75%;
      border: none;
      outline: none;
      background-color: transparent;
      min-height: 26px;
      border-radius: 8px;
      padding: 10px 20px;
    }
    // input:focus {
    //   background-color: rgba($lavender, 0.4);
    //   border: 2px solid $deep-purple;
    // }

    // input.ng-invalid.ng-touched,
    // textarea.ng-invalid.ng-touched {
    //   border: 1px solid red;
    // }

    .char {
      width: 100%;
      text-align: right;
      color: $deep-purple;
    }
  }
  .action-section {
    width: 100%;
    @include flex(row, flex-start, center, 10px);

    .cancel {
      @include actionButton(#f3f5f8);
      color: black;
    }
    .submit-btn {
      @include actionButton(#335cff);
    }
    button {
      border-radius: 8px !important;
    }
  }
}
